*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 5px;
    border: 1px solid black;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: inline-flex;
}
.nav-li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.nav-link{
    color: black;
    padding: 5px;
}
i{
    padding: 20px;
}
.border-bottom{
    border-bottom: 1px solid black;
}
.text-center{
    text-align: center;
}
.title{
    font-family: "Comic Neue";
    font-size: 20px;
    padding: 10px;
}
#projects li{
    padding: 10px;
}
.bg-grey{
    background-color: lightgrey;
}
.text-sm{
    font-size: 0.88rem;
}
.padd{
    padding: 10px
}
.edu{
    padding-left: 20px;
    padding-bottom: 20px;
}
.edu h3{
    padding-left: 0;
}
.edu ul{
    padding-left: 20px;
}
.card{
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
.text-grey{
    color: grey;
}
@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    #name-logo{
        display: flex;
        align-items: center;
    }
    #main-title{
        font-size: 40px;
        padding-top: 40px;
    }
    #main-subtitle{
        padding-bottom: 40px;
    }
    #info{
        display: grid;
        grid-template-columns: 1.3fr 2fr 2fr;
    }
    #info section {
        border: 1px solid black;
    }
    .bg-grey{
        background-color: white;
    }
    .no-border{
        border: none;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}